// Print-only styles.
@media print {
  .side-bar {
    width: 50%;
    height: auto;
    border-left: 0 !important;
  }
  .main-content {
    max-width: auto;
    margin: 1em;
  }
}

@media img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
