// Print-only styles.
@media print {
  .side-bar {
    width: 100%;
    height: auto;
    border-left: 0 !important;
  }
  
@include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: 0px $border-color;
    justify-content: space-around;
  }
}
