// Print-only styles.
@media print {
  .side-bar {
    width: 100%;
    height: auto;
    border-left: 0 !important;
  }
  
}

@media img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
