<style>
  /* 1. Enlace normal (no visitado) */
  a:link {
    color: violet;
  }

  /* 2. Enlace que el usuario ya visitó */
  a:visited {
    color: violet;
  }

  /* 3. Cuando pasas el cursor por encima (hover) */
  a:hover {
    color: darkmagenta;
  }

  /* 4. El momento exacto en que haces clic (activo) */
  a:active {
    color: red;
  }
</style>

<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true
  }
};
</script>

<script
id="MathJax-script"
async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
